body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Atividade pratica HTML/blog/assets/img/backgroundSobre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.nav-topo {
    background-color: #483D8B;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.nav-topo ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.nav-topo ul li {
    display: inline;
}

.nav-topo ul li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Cursive', fantasy;
    font-size: 18px;
    margin: 0 15px;
    transition: all 0.3s ease;
}

.nav-topo ul li a:hover {
    background-color: #6A5ACD;
    border-bottom: 3px solid #fff;
}

.conteudo-sobre {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 70px; 
}

.quadro-branco {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: calc(33.33% - 30px); 
    margin: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.quadro-branco:hover {
    transform: scale(1.1);
}

.quadro-branco img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quadro-branco h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.quadro-branco p {
    font-size: 18px;
    color: #555;
}
